<template>
  <div>
    <h1>This is the about page</h1>
    <ab />
  </div>
</template>
<script>
  const About1 = () => import("about/About"); // defineAsyncComponent(() => import("home/Content"));

  export default {
    components: {
      ab: About1,
    },
    data: function () {
      return {};
    },
  };
</script>
