<template>
  <div id="home">
    <!-- <img class="logo" src="../assets/logo.png" alt="logo" /> -->
    <h1>👋Hello world🌎</h1>
    <content-element />
  </div>
</template>

<script>
  const Content = () => import("home/Content"); // defineAsyncComponent(() => import("home/Content"));

  export default {
    components: {
      "content-element": Content,
    },
    data: function () {
      return {};
    },
  };
</script>

