<template>
  <div id="app">
    <MyContent />
  </div>
</template>

<script>
  import MyContent from "./components/About.vue";

  export default {
    components: {
      MyContent,
    },
  };
</script>


<style lang="scss">
</style>
